@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-left: 15%; padding-right: 15%">


    <h1>Welcome, welcome, welcome!</h1>
    <h3>We gonna search the GC Car Dealership API!</h3><br />
    <p>
       Click <a asp-controller ="Home" asp-class="Search">here</a> to search!
    </p>


</div>
